/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
  height: 100%;
}

a {
  color: #00B7FF;
}

.first {
  height: 2rem;
}

.img {
  margin: auto;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}

.form-control {
  width: 50%;
  margin: auto;
  align-items: center;
}

.btn-outline-secondary {
  width: 200px;
}

body>nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

.center {
  width: 50%;
  margin: auto;
  align-items: center;
  align-content: center;
}
 */

.mainPage {
  margin: auto;
  width: 50%;
}

.img {
  margin: auto;
  text-align: center;
}

.center {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

input,
label,
option,
select,
textarea,
button {
  margin-left: 3rem;
}

.info-item {
  width: 59%;
  display: inline;
}

.first {
  width: 50%;
  margin: auto;
  height: 100%;
}

table {
  text-align: center;
}

option {
  width: 50px;
}

.formShow{
  margin: auto;
  width: 85%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.navMenu {
  display: flex;
  font-family: "Montserrat";
  background-color: black;
  justify-content: right;
  justify-content: space-evenly;
  /* position: absolute; */

  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.navMenu a {
  color: wheat;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  display: inline;
  width: 110px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
