<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Add a User</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <form action="/adduser" method="POST">
        <label>Email</label><br>
        <input type="email" name="username">
        <br><br>
        <label>Password</label><br>
        <input type="password" name="password">
        <br><br>
        <label>Admin User</label><br>
        <select name="access">
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select><br><br>
        <input type="submit" value="Add User">
    </form>
  </body>
</html>
